:root {
    box-sizing: border-box; /*Prevent overflow/vertical scroll bars*/
    scroll-behavior: smooth;
    --default-text-color: rgb(0, 0, 0);     /*Define global text color*/
    --default-background-color: #ffffff;        /*Define global background color*/
}

html {
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    height: 100%;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

body {
    padding: 0; /*reset default padding; [rem]*/
    margin: 0 auto; /*reset default margin [rem]*/
    height: 100%;
    font-size: 1rem;
}

#logo-header {
    max-width: 200px;
    max-height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: black;
    padding: 25px;
}

header a {
    color: white;
    padding: 10px;
}






img {
    width: 20px;
}