<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

* {
    font-family: 'Quicksand', sans-serif;
    font-weight:500;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
