:root {
    box-sizing: border-box; /*Prevent overflow/vertical scroll bars*/
    scroll-behavior: smooth;
    --default-text-color: rgb(0, 0, 0);     /*Define global text color*/
    --default-background-color: #f2eede;        /*Define global background color*/
}

html {
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    height: 100%;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal; /* Thickness */
    font-size: 1rem;
    font-style: normal; /* Font Slant */
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

body {
    padding: 0; /*reset default padding; [rem]*/
    margin: 0 auto; /*reset default margin [rem]*/
    height: 100%;
}

#logo-header {
    max-width: 200px;
    max-height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: black;
    padding: 25px;
}

header a {
    color: white;
    margin: 10px;
}

#nav-login {
    background-color: white;
    color: black;
    border-radius: 15px;

    padding: 10px 15px;
}

#welcome-screen {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    margin-top: 40px;
    margin-bottom: 80px;
}

#index_left {
    margin-top: 250px;
    margin-right: 5vw;
    margin-left: 5vw;
    width: 10vw;
}

#index_left p {
    padding-bottom: 20px;
}

#welcome-screen p {
    font-size: 1.6rem;
    margin: 0px;
}

#index_right img {
    transform: rotate(-0.25turn) scale(1, -1);
}

#index_middle {
    width: 50vw;
}

#index_right {
    margin-bottom: 150px;
    margin-left: 5vw;
    margin-right: 10vw;
    padding: 0;
    width: 10vw;
}

#index_right p {
    padding: 0;
}










.mitglieder_bild {
  height: 180px;
  padding-left: 20px;  
}

.profiles{
  display: flex;
  align-items: center;
  flex-direction: row;
padding: 0px;
}


h3{
 
}

.mitglieder h3{
    padding-left: 100px;
    text-align: left;
}


 


#login.html_main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



#letsgo_btn input {
    border: none;
}
    

.fliesstext{
    background-color: #9EB4A5;
    border-radius: 35px;
    padding: 30px 100px;
    margin: 0vw 100px;
}

.fleck {
    z-index: 0;
    transform: translateY(80px);
    width: 30%;
    margin: 0px 0px 0px 100px;
}

h2 {
   font-size: 2rem; 
   margin: 0px 0px 5vw 100px;
   z-index: 1;
}

#login_form {
    margin: 0;
    text-align: center;
}

#credential_container div {
    padding: 10px;
}

#login_form input {
    border: 1px black solid;
    border-radius: 15px;

}

.login_btn {
    text-decoration: underline;
}

#Bild_Gin {
    height: 250px;
    width: auto;
    position: absolute;
    top: 130px;
    right: 40px;
}